@tailwind base;
@tailwind components;
@tailwind utilities;

@media not (hover: none), not (hover: on-demand) {
  /* width */
  ::-webkit-scrollbar {
    @apply w-1;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-border;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-text_grey;
  }

  /* IE, Edge and Firefox */
  * {
    scrollbar-width: 4px; /* Firefox */
    scrollbar-color: var(--tw-bg-opacity) transparent; /* Firefox */
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
